body {
  box-sizing: border-box;
  font-family: "SF Pro Display";
  --logo-color: #1b1f2d;
  --text-generic-color: #333333;
  --title-generic-color: #181818;
  --blue-generic-color: #2f80ed;
  --input-background-generic-color: #f2f2f2;
  --input-generic-color-text: #4f4f4f;
  --alarm-background-color: #fcefca;
  --white-color-text: #ffffff;
  --icons-generic-inputs-color: #828282;
}

/* ------------------ GENERIC STYLES ------------------ */

/* ----- GENERIC STRUCTURE PAGE ---- */

.container {
  width: clamp(320px, 100%, 1440px);
}

.principal-paddings {
  padding: 0 40px;
}

/* -------- TYPES OF FLEX STYLES --------- */

.flex {
  display: flex;
}

.normal-gap {
  gap: 20px;
}

.litte-gap {
  gap: 10px;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.aling-items-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.align-items-end {
  align-items: end;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

/* ----------- MARGINS GENERICS ---------- */

.negative-margin-top {
  margin-top: -40px;
}

.little-margins-vertical {
  margin: 10px 0;
}

.quit-all-margins {
  margin: 0;
}

.margin-center {
  margin: auto;
}

/* ---------- PADDINS GENERICS ----------- */

.generic-little-top-padding {
  padding-top: 10px;
}

.generic-midle-top-padding {
  padding-top: 20px;
}

.generic-big-top-padding {
  padding-top: 40px;
}

.generic-middle-buttom-padding {
  padding-bottom: 20px;
}

.very-big-left-padding {
  padding-left: 60px;
}

.quit-all-paddins {
  padding: 0;
}

.put-all-middle-padding {
  padding: 15px 20px;
}

.generic-separate-secions {
  padding-bottom: 40px;
}

/* -------- COLORS --------- */

/* --- CONTENT COLOR ---  */

.blue-color-generic {
  color: var(--blue-generic-color);
}

.text-generic-color {
  color: var(--text-generic-color);
}

.title-generic-color {
  color: var(--title-generic-color);
}

.text-color-white {
  color: var(--white-color-text);
}

.generic-color-inputs-text {
  color: var(--input-generic-color-text);
}

.generic-icons-color-inputs {
  color: var(--icons-generic-inputs-color);
}

/* --- BACKGROUND COLOR --- */

.white-background-color {
  background-color: var(--white-color-text);
}

.blue-generic-color {
  background-color: var(--blue-generic-color);
}

.input-generic-background-color {
  background-color: var(--input-background-generic-color);
}

.background-color-white {
  background-color: var(--white-color-text);
}

.background-light-yellow {
  background-color: var(--alarm-background-color);
}

.filter-background-dark {
  background-color: #0004;
}

.filter-background-dark-linear {
  background: linear-gradient(to left, #000a, transparent);
}


/* ---------- FONTS SIZES --------- */

.principal-title-size {
  font-size: clamp(20px, 2.5vw, 36px);
}

.second-title-size {
  font-size: clamp(16px, 2.2vw, 32px);
}

.third-title-size {
  font-size: clamp(12px, 1.5vw, 22px);
}

.text-generic-size {
  font-size: clamp(10px, 1.2vw, 18px)
}

.generic-icon-size {
  font-size: 30px;
}

/* ---- SPECIFIC TEXT STYLES ---- */

.remove-underline {
  text-decoration: none;
}

.midle-bold-text {
  font-weight: 500;
}

.big-bold-text {
  font-weight: 600;
}

.aling-center {
  text-align: center;
}

.aling-left {
  text-align: left;
}

.line-heigh-generic {
  line-height: 1.5;
}

/* -------- STYLES LISTS -------- */

.quit-point {
  list-style: none;
}

/* ------- STYLES BUTTONS -------- */

.normals-paddings-buttons {
  padding: 10px 20px;
}

.buttons-borders {
  border: 1px solid var(--blue-generic-color);
}

/* ---------- BORDERS ---------- */

.generic-border-radius {
  border-radius: 5px;
}

.quit-borders {
  border: none;
}

/* ---------- LOGO STYLES ------------- */

.icon-plane {
  rotate: 50deg;
}

/* ------------ STYLES IMAGES ----------- */

/* ---------- STYLES IMAGES ------------ */

.object-fit-cover {
  object-fit: cover;
}

/* ------ STYLES BACKGROUND IMAGES -------- */

.background-size-cover {
  background-size: cover;
}

.background-position-center {
  background-position: center;
}

/* ------------ POSITIONS ---------------*/

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.z-index-increase {
  z-index: 1;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

/* ------------ WIDTH STYLES ------------- */

.total-width {
  width: 100%;
}

.total-three-quarters-width {
  width: 50%;
}

.total-max-width {
  max-width: 100%;
}

.generic-little-max-width {
  max-width: 100px;
}

.generic-middle-max-width {
  max-width: 150px;
}

.big-max-width {
  max-width: 300px;
}

.very-big-max-width {
  max-width: 550px;
}

.hiper-big-max-width {
  width: 800px;
}

.fit-content-width {
  width: fit-content;
}

/* ----------- HEIGHT STYLES ------------- */

.total-height {
  height: 100%;
}

.height-auto {
  height: auto;
}

.little-max-height {
  max-height: 250px;
}

.midle-max-height {
  max-height: 400px;
}

/* ------------ SHADOWS ----------------- */

.basic-shadow {
  box-shadow: 0 0 20px 2px #3333;
}

/* ----------- OUTLINE ------------- */

.quit-outline {
  outline: none;
}

/* ----------- ASPECT RATIO ------------- */

.aspect-ratio-square {
  aspect-ratio: 4 / 3;
}

.aspect-ratio-rectangular {
  aspect-ratio: 3 / 2;
}

.aspect-ratio-rectangular-down {
  aspect-ratio: 1 / 1;
}

/* ---------- OVERFLOW --------- */

.over-flow-hidden {
  overflow: hidden;
}

/* -------- TYPES OF DISPLAYS --------- */

.display-block {
  display: block;
}

/* ---------- STYLES ROTATE ------------ */

.rotate-reverse {
  transform: rotate(180deg);
}

.rotate-right {
  transform: rotate(-15deg);
}

/* -------------- ESPECIFIC PAGE INDEX --------------- */


.header-container-img {
  background-image: url(img/header01.jpg);
  height: 500px;
  background-position: 0 30%;
}

.special-button-width {
  width: clamp(100px, 10vw, 300px);
}

.display-none {
  display: none;
}

.baner-section {
  background-image: url(img/background-image-baner-01.jpg);
  height: 320px;
}