body {
  box-sizing: border-box;
  font-family: "SF Pro Display";
  --logo-color: #1b1f2d;
  --text-generic-color: #333333;
  --title-generic-color: #181818;
  --blue-generic-color: #2f80ed;
  --input-background-generic-color: #f2f2f2;
  --input-generic-color-text: #4f4f4f;
  --alarm-background-color: #fcefca;
  --white-color-text: #ffffff;
  --icons-generic-inputs-color: #828282;
  --footer-background-color: #EBEBEB;
  --facebook-container-color: #475993;
  --inbox-background-color: #FEE2654E;
  --border-color-form: #E0E0E0;
  --color-orange-generic: #F2994A;
  --border-gray-color: #BDBDBD;
  --background-color-red: #EB5757;
  --background-color-green: #219653;
  --background-color-details: #F4F4F4;
  --color-yelow-text: #FFD723;
  --background-color-yellow: #F2C94C;
  --color-light-green: #85E0AB;
}

/* ------------------ GENERIC STYLES ------------------ */

/* ----- GENERIC STRUCTURE PAGE ---- */

.container {
  width: clamp(320px, 100%, 1440px);
}

.principal-paddings {
  padding: 0 70px;
}

/* -------- TYPES OF FLEX STYLES --------- */

.flex {
  display: flex;
}

.big-gap {
  gap: 40px;
}

.gap-30px {
  gap: 30px;
}

.normal-gap {
  gap: 20px;
}

.litte-gap {
  gap: 10px;
}

.gap-5px {
  gap: 5px;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-start {
  justify-content: start;
}

.aling-items-center {
  align-items: center;
}

.aling-items-space-between {
  align-items: space-between;
}

.aling-items-start {
  align-items: start;
}

.aling-items-strench {
  align-items: stretch;
}

.wrap {
  flex-wrap: wrap;
}

.align-items-end {
  align-items: end;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-4 {
  flex: 4;
}

/* ----------- MARGINS GENERICS ---------- */

.negative-margin-top {
  margin-top: -40px;
}

.negative-margin-bottom {
  margin-bottom: -40px;
}

.little-margins-vertical {
  margin: 10px 0;
}

.middle-margins-vertical {
  margin: 20px 0;
}

.little-top-margin {
  margin-top: 10px;
}

.middle-top-margin {
  margin-top: 20px;
}

.big-margin-top {
  margin-top: 40px;
} 

.super-little-bottom-margin {
  margin-bottom: 5px;
}

.middle-bottom-margin {
  margin-bottom: 20px;
}

.big-margin-bottom {
  margin-bottom: 40px;
}


.quit-margin-bottom {
  margin-bottom: 0;
}

.quit-margin-top {
  margin-top: 0;
}

.quit-all-margins {
  margin: 0;
}

.margin-center {
  margin: auto;
}

.margin-center-horizontal {
 margin: 0 auto;
}

/* ---------- PADDINS GENERICS ----------- */

.generic-little-top-padding {
  padding-top: 10px;
}

.sub-little-top-padding {
  padding-top: 13px;
}

.generic-midle-top-padding {
  padding-top: 20px;
}

.generic-big-top-padding {
  padding-top: 40px;
}

.sub-little-bottom-padding {
  padding-bottom: 13px;
}

.generic-middle-buttom-padding {
  padding-bottom: 20px;
}

.padding-left-20px {
  padding-left: 20px;
}

.midle-left-padding {
  padding-left: 30px;
}

.very-big-left-padding {
  padding-left: 60px;
}

.midle-right-padding {
  padding-right: 30px;
}

.very-big-right-padding {
  padding-right: 60px;
}

.super-huge-right-padding {
  padding-right: 120px;
}

.quit-all-paddins {
  padding: 0;
}

.quit-padding-bottom {
  padding-bottom: none;
}

.put-all-little-padding {
  padding: 5px 10px;
}

.put-middle-vertcal-padding-and-little-horizontal-padding {
  padding: 15px 10px;
}

.padding-10px-15px {
  padding: 10px 15px;
}

.put-all-middle-padding {
  padding: 15px 20px;
}

.put-all-middle-big-padding {
  padding: 20px 25px;
}

.put-all-big-padding {
  padding: 40px 45px;
}

.little-padding-bottom {
  padding-bottom: 10px;
}

.generic-separate-secions {
  padding-bottom: 40px;
}

/* -------- COLORS --------- */

/* --- CONTENT COLOR ---  */

.blue-color-generic {
  color: var(--blue-generic-color);
}

.text-color-yelow {
  color: var(--color-yelow-text)
}

.text-generic-color {
  color: var(--text-generic-color);
}

.title-generic-color {
  color: var(--title-generic-color);
}

.text-color-white {
  color: var(--white-color-text);
}

.generic-color-inputs-text {
  color: var(--input-generic-color-text);
}

.generic-icons-color-inputs {
  color: var(--icons-generic-inputs-color);
}

.generic-color-orange {
  color: var(--color-orange-generic);
}

.text-color-red {
  color: var(--background-color-red);
}

/* --- BACKGROUND COLOR --- */

.background-color-details {
  background-color: var(--background-color-details);
}

.white-background-color {
  background-color: var(--white-color-text);
}

.blue-generic-color {
  background-color: var(--blue-generic-color);
}

.input-generic-background-color {
  background-color: var(--input-background-generic-color);
}

.background-color-white {
  background-color: var(--white-color-text);
}

.background-light-yellow {
  background-color: var(--alarm-background-color);
}

.background-footer-color {
  background-color: var(--footer-background-color);
}

.background-facebook-color {
  background-color: var(--facebook-container-color);
}

.inbox-background-color {
  background-color: var(--inbox-background-color);
}

.background-color-red {
  background-color: var(--background-color-red);
}

.background-color-green {
  background-color: var(--background-color-green);
}

.background-color-orange {
  background-color: var(--color-orange-generic);
}

.background-color-yellow {
  background-color: var(--background-color-yellow);
}

.backgroun-light-green {
  background-color: var(--color-light-green);
}

.background-color-black01 {
  background-color: var(--text-generic-color);
}

.filter-background-dark {
  background-color: #0004;
}

.filter-background-dark-linear {
  background: linear-gradient(to left, #000a, transparent);
}

.bacground-color-gradient-blue {
  background: linear-gradient(to bottom, #2969BF, #144E9D);
}

.bacground-color-gradient-light-blue {
  background: linear-gradient(to bottom, #4796FF, #2366BF);
} 

/* ---------- FONTS SIZES --------- */

.principal-title-size {
  font-size: clamp(20px, 2.5vw, 36px);
}

.second-title-size {
  font-size: clamp(16px, 2.2vw, 32px);
}

.third-title-size {
  font-size: clamp(12px, 1.5vw, 22px);
}

.fourth-title-size {
  font-size: clamp(12px, 1.2vw, 18px);
}

.text-generic-size {
  font-size: clamp(10px, 1.2vw, 16px)
}

.generic-icon-size {
  font-size: 30px;
}

/* ---- SPECIFIC TEXT STYLES ---- */

.font-family-principal {
  font-family: "SF Pro Display", sans-serif;
}

.remove-underline {
  text-decoration: none;
}

.very-little-bold-text {
  font-weight: 300;
}

.litte-bold-text {
  font-weight: 400;
}

.midle-bold-text {
  font-weight: 500;
}

.big-bold-text {
  font-weight: 600;
}

.aling-center {
  text-align: center;
}

.aling-left {
  text-align: left;
}

.aling-right {
  text-align: right;
}

.line-heigh-generic {
  line-height: 1.5;
}

.line-height-large {
  line-height: 2;
}

.cross-out-text {
  text-decoration: line-through;
}

/* -------- STYLES LISTS -------- */

.quit-point {
  list-style: none;
}

/* ------- STYLES BUTTONS -------- */

.normals-paddings-buttons {
  padding: 10px 20px;
}

.buttons-borders {
  border: 1px solid var(--blue-generic-color);
}

/* ---------- BORDERS ---------- */

.generic-border-radius {
  border-radius: 5px;
}

.border-radius-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.border-radius-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.generci-border-radius-top {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.generic-border-radius-bottom {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.border-radius-circle {
  border-radius: 50%;
}

.quit-borders {
  border: none;
}

.quit-border-bottom {
  border-bottom: none;
}

.quit-border-radius-bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.quit-border-radius-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.border-top-gray-light {
  border-top: 1px solid var(--input-background-generic-color);
}

.border-top-form {
  border-top: 1px solid var(--border-color-form);
}

.border-gray {
  border: 1px solid var(--icons-generic-inputs-color);
}

.border-input-form {
  border: 1px solid var(--border-color-form);
}

.border-right-form {
  border-right: 1px solid var(--border-color-form);
}

.border-input-form-bottom {
  border-bottom: 1px solid var(--border-color-form);
}

.border-blue {
  border: 1px solid var(--blue-generic-color);
}

.border-right-blue {
  border-right: 1px solid var(--blue-generic-color);
}

.border-color-gray-light {
  border: 1px solid var(--border-gray-color);
}

.border-left-gray-light {
  border-left: 1px solid var(--border-color-form);
}

.border-right-gray-light {
  border-right: 1px solid var(--border-color-form);
}

.border-bottom-gray-light {
  border-bottom: 1px solid var(--border-color-form);
}

/* ---------- LOGO STYLES ------------- */

.icon-plane {
  rotate: 50deg;
}

/* ------------ STYLES IMAGES ----------- */

/* ---------- STYLES IMAGES ------------ */

.object-fit-cover {
  object-fit: cover;
}

.object-position-center {
  object-position: center;
}

/* ------ STYLES BACKGROUND IMAGES -------- */

.background-size-cover {
  background-size: cover;
}

.background-position-center {
  background-position: center;
}

/* ------------ POSITIONS ---------------*/

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.z-index-increase {
  z-index: 1;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

/* ------------ WIDTH STYLES ------------- */

.total-width {
  width: 100%;
}

.three-quarters-width {
  width: 75%;
}

.total-half-width {
  width: 50%;
}

.total-max-width {
  max-width: 100%;
}

.max-width-icon {
  max-width: 30px;
}

.width-icon {
  width: 30px;
}

.width-40px {
  width: 40px;
}

.max-width-big-icon {
  max-width: 50px;
}

.generic-little-max-width {
  max-width: 100px;
}

.generic-middle-max-width {
  max-width: 150px;
}

.middle-max-width {
  max-width: 200px;
}

.big-max-width {
  max-width: 300px;
}

.big-midle-max-width {
  max-width: 400px;
}

.sub-big-max-width {
  max-width: 450px;
}

.very-big-max-width {
  max-width: 550px;
}

.hiper-big-max-width {
  width: 800px;
}

.max-width-1000px {
  max-width: 1000px;
}

.fit-content-width {
  max-width: fit-content;
}

.width-1_2em {
  width: 1.2em;
}

/* ----------- HEIGHT STYLES ------------- */

.total-height {
  height: 100%;
}

.total-max-height {
  max-height: 100%;
}

.half-max-height {
  max-height: 48%;
}

.height-1px {
  height: 1px;
}

.height-100vh {
  height: 100vh;
}

.height-80vh {
  height: 80vh;
}

.height-80vh {
  max-height: 80vh;
}

.height-20vh {
  height: 20vh;
}

.height-auto {
  height: auto;
}

.height-fit-content {
  height: fit-content;
}

.height-40px {
  height: 40px;
}

.super-little-max-height {
  max-height: 120px;
}

.sub02-little-max-height {
  max-height: 220px;
}

.little-max-height {
  max-height: 250px;
}

.sub-little-max-height {
  max-height: 275px;
}

.midle-little-max-height {
  max-height: 300px;
}

.sub-midle-little-max-height {
  max-height: 350px;
}

.midle-max-height {
  max-height: 400px;
}

.sub-midle-max-height {
  max-height: 500px;
}

.midle-big-max-height {
  max-height: 600px;
}

.super-big-max-height {
  max-height: 800px;
}

.height-1_2em {
  height: 1.2em;
}

/* ------------ SHADOWS ----------------- */

.basic-shadow {
  box-shadow: 0 0 20px 2px #3333;
}

/* ----------- OUTLINE ------------- */

.quit-outline {
  outline: none;
}

/* ----------- ASPECT RATIO ------------- */



.aspect-ratio-square {
  aspect-ratio: 4 / 3;
}

.aspect-ratio-super-rectangular {
  aspect-ratio: 16 / 9;
}

.aspect-ratio-rectangular {
  aspect-ratio: 3 / 2;
}

.aspect-ratio-rectangular-down {
  aspect-ratio: 1 / 1;
}

/* ---------- OVERFLOW --------- */

.over-flow-hidden {
  overflow: hidden;
}

/* -------- TYPES OF DISPLAYS --------- */

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

/* ---------- STYLES ROTATE ------------ */

.rotate-reverse {
  transform: rotate(180deg);
}

.rotate-right {
  transform: rotate(-15deg);
}

/* ----------- SCALE STYLES ------------ */ 

.scale-double-up {
  transform: scale(2.5)
}

.scale-up {
  transform: scale(1.5);
}

.scale-llitle-up {
  transform: scale(1.1);
}

/* ---------- GRID STYLES ------------- */

.grid {
  display: grid;
}

.grid-template-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-template-rows {
  grid-template-rows: 300px 300px;
}

/* -------------- ESPECIFIC PAGES --------------- */


.header-container-img {
  background-image: url(img/img-index/header01.jpg);
  height: 500px;
  background-position: 0 30%;
}

.special-button-width {
  width: clamp(100px, 10vw, 300px);
}

.display-none {
  display: none;
}

.baner-section {
  background-image: url(img/img-index/background-image-baner-01.jpg);
  height: 320px;
}

.especial-padding-form {
  padding: 20px 20px 0 20px;
}

.hover-search:hover {
  color: var(--blue-generic-color);
  background-color: var(--input-background-generic-color);
  transition: color, background-color 0.3s ease-in-out;
}

.gradient-background-details {
  background-image: linear-gradient(to bottom, var(--background-color-details), var(--white-color-text));
}

.hover-details-line:hover {
  border-bottom: 3px solid var(--blue-generic-color);
}
